<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="lis-report" type="XYS.Lis.Config.ReportSectionHandler,XYS.Lis"/>
    <section name="lis-param" type="XYS.Lis.Config.ParamSectionHandler,XYS.Lis" />
  </configSections>
  <lis-report>
    <reporter-strategy name="模板名称">
      <fill-ref ref="" />
      <export-ref ref="" />
      <handler-ref-stack>
        <handler-ref ref="" />
      </handler-ref-stack>
    </reporter-strategy>
    <!--数据填充类,用于从数据库中提取数据，并填充到指定的报告元素中-->
    <fill-stack>
      <fill name="" type="XYS.Lis.Fill.ReportFillByDB"/>
    </fill-stack>
    <!--数据处理栈-->
    <handler-stack>
      <handler name="" type="XYS.Lis.Handler.HeaderDefaultHandler"/>
      <handler name="" type="XYS.Lis.Handler.ReportOrderHandler" />
      <handler name="" type="XYS.Lis.Handler.ReportPrintModelHandler" />
    </handler-stack>
    <!--数据导出类  导出为PDF、html、json、xml等格式报告（pdf时传出字符串为pdf文件存储路径）-->
    <export-stack>
      <export name="" type="XYS.Lis.Export.PDF.Export2PDF"/>
      <export name="" type="XYS.Lis.Export.Json.Export2Json"/>
    </export-stack>
  </lis-report>
  <lis-param>
    <!--报告元素集合-->
    <reportElements>
      <!--报告元素 -->
      <!-- ReportElement = 1,ExamElement,PatientElement,ItemElement,GraphElement,CustomElement,NoneElement-->
      <reportElement name="ReportElement" value="" type="XYS.Lis.Model.ReportReportElement" explain=""/>
      <reportElement name="ExamElement" value=""  type="XYS.Lis.Model.ReportExamElement" explain=""/>
      <reportElement name="PatientElement" value="" type="XYS.Lis.Model.ReportPatientElement" explain=""/>
      <reportElement name="ItemElement" value="" type="XYS.Lis.Model.ReportItemElement" explain=""/>
      <reportElement name="GraphElement" value="" type="XYS.Lis.Model.ReportGraphElement" explain=""/>
      <reportElement name="CustomElement" value="" type="XYS.Lis.Model.ReportCustomElement" explain=""/>
    </reportElements>
    <!--小组设置--> 
    <reportSections>
      <!--所用小组 小组别名，小组编号，小组对应模板号,小组对应报告排序号-->
      <reportSection name="2" alias="XE2000"  value="2" modelNo="100" orderNo="19000"  reportElementRefs="2,3,4"/>
      <reportSection name="27" alias="XE5000" value="27" modelNo="100" orderNo="19000"  reportElementRefs="2,3,4"/>
      <reportSection name="62" alias="临检夜班" value="62"  modelNo="300" orderNo="19000"  reportElementRefs="2,3,4"/>
      <reportSection name="28" alias="UF1000I" value="28" modelNo="300" orderNo="19000"  reportElementRefs="2,3,4,5"/>
    </reportSections>
    <!--特殊组合检验项设置-->
    <parItems>
      <!--特殊检验大项名称,编号,打印模板编号,报告排序号,是否存在正常对照图片（0不存在 1存在）,正常对照图片路径-->
      <parItem name="90008562" alias="尿沉渣" value="90008562" modelNo="200" orderNo="30" imageFlag="0" imagePath=""/>
    </parItems>
    <!--模板设置-->
    <reportModels>
      <!--模板名称，模板编号，模板路径-->
      <reportModel name="" alias="血常规" value="100" modelPath=""/>
      <reportModel name="" alias="尿大张" value="200" modelPath=""/>
      <reportModel name="" alias="尿小张" value="300" modelPath=""/>
    </reportModels>
  </lis-param>
  <connectionStrings>
    <add name="LisMSSQLConnectionString" connectionString="Data Source=10.1.10.237;Initial Catalog=digitlab;Persist Security Info=True;User ID=sa;Password=idoc"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="lis-report.Config" value="" />
    <add key="lis-report.Config.Watch" value="false" />
    <add key="lis-report.RepositorySelector" value="" />
    <add key="lis-report.Internal.Debug" value="true" />
    <add key="lis-report.Internal.Quiet" value="false" />
    <add key="lis-report.Internal.Emit" value="true" />
  </appSettings>
</configuration>