<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="lis" type="XYS.FR.Service.Config.LisSection,XYS.FR.Service"/>
  </configSections>
  <lab>
    <groups>
      <group name="2" alias="临检XE2000" value="2" modelNo="100" orderNo="19000"/>
    </groups>
    <items>
      <item name="90004316" alias="肝功(医保)" value="90004316" modelNo="200" orderNo="19500"/>
    </items>
    <models>
      <model name="" alias="" value="" modelPath=""/>
    </models>
  </lab>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>