<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="lab" type="XYS.FR.Conf.LabSection,XYS.FR"/>
  </configSections>
  <lab>
    <groups>
      <!--临检小组-->
      <group name="临检XE2000" alias="血常规" value="2" modelNo="110" orderNo="19000"/>
      <group name="临检XE5000" alias="血常规" value="27" modelNo="110" orderNo="19000"/>
      <group name="临检夜班" alias="尿便等项目" value="62" modelNo="100" orderNo="19000"/>
      <group name="临检UF1000I" alias="尿便等项目" value="28" modelNo="100" orderNo="19000"/>
      <!--生化小组-->
      <group name="生化AU2700" alias="生化项目" value="17" modelNo="200" orderNo="19000"/>
      <group name="生化血气" alias="生化项目" value="23" modelNo="200" orderNo="19000"/>
      <group name="生化AU480" alias="生化项目" value="29" modelNo="200" orderNo="19000"/>
      <group name="生化荧光免疫" alias="生化项目" value="34" modelNo="200" orderNo="19000"/>
      <!--免疫小组-->
      <group name="免疫IMMAGE" alias="免疫项目" value="5" modelNo="300" orderNo="19000"/>
      <group name="免疫TECAN150" alias="免疫项目" value="19" modelNo="330" orderNo="19000"/>
      <group name="免疫DXI800" alias="免疫项目" value="20" modelNo="300" orderNo="19000"/>
      <group name="免疫SUNRISE" alias="免疫项目" value="21" modelNo="300" orderNo="19000"/>
      <group name="免疫BN11" alias="免疫项目" value="25" modelNo="300" orderNo="19000"/>
      <group name="免疫手工" alias="免疫项目" value="30" modelNo="310" orderNo="19000"/>
      <group name="免疫I2000" alias="免疫项目" value="33" modelNo="300" orderNo="19000"/>
      <group name="免疫spife4000" alias="免疫项目" value="35" modelNo="320" orderNo="19000"/>
      <group name="免疫I1000" alias="免疫项目" value="63" modelNo="300" orderNo="19000"/>
      <group name="免疫细胞培养" alias="免疫项目" value="14" modelNo="340" orderNo="19000"/>
      <!--止血小组-->
      <group name="出凝血" alias="止血项目" value="4" modelNo="400" orderNo="19000"/>
      <group name="血小板" alias="止血项目" value="24" modelNo="400" orderNo="19000"/>
      <!--溶血小组-->
      <group name="溶血" alias="溶血项目" value="18" modelNo="500" orderNo="19000"/>
      <!--遗传小组-->
      <group name="分子遗传" alias="分子遗传" value="11" modelNo="600" orderNo="19000"/>
      <!--细胞形态-->
      <group name="细胞形态" alias="细胞形态" value="39" modelNo="700" orderNo="19000"/>
      <!--组化-->
      <group name="组化" alias="细胞组织化学" value="3" modelNo="800" orderNo="19000"/>
      <!--基因分型-->
      <group name="基因配型" alias="基因配型（分型）" value="45" modelNo="900" orderNo="19000"/>
    </groups>
    <items>
      <!--临检特殊项(用于模板)-->
      <item name="90008562" alias="尿沉渣" value="90008562" modelNo="120" orderNo="0"/>
      <!--生化特殊项(用于排序)-->
      <item name="90004316" alias="肝功(医保)" value="90004316" modelNo="0" orderNo="19500"/>
      <item name="90004368" alias="肝肾功能(医保)" value="90004368" modelNo="0" orderNo="19500"/>
      <item name="90004369" alias="肝心功能" value="90004369" modelNo="0" orderNo="19500"/>
      <item name="90004370" alias="肝肾心功能(医保)" value="90004370" modelNo="0" orderNo="19500"/>
      <item name="90004379" alias="肝功" value="90004379" modelNo="0" orderNo="19500"/>
      <item name="90004380" alias="肝肾功" value="90004380" modelNo="0" orderNo="19500"/>
      <item name="90004381" alias="肝肾心功" value="90004381" modelNo="0" orderNo="19500"/>
      <item name="90004321" alias="肾功能" value="90004321" modelNo="0" orderNo="19500"/>
      <item name="90004324" alias="生化全套" value="90004324" modelNo="0" orderNo="19500"/>
      <item name="90004377" alias="生化全套(医保不含血脂)" value="90004377" modelNo="0" orderNo="19500"/>
      <!--遗传特殊项(用于模板及排序)-->
      <item name="50006570" alias="染色体杂交AML1/ETO" value="50006570" modelNo="650" orderNo="15500"/>
      <item name="90009363" alias="染色体杂交ATM/CEP11" value="90009363" modelNo="650" orderNo="15500"/>
      <item name="90008499" alias="染色体杂交BCL2" value="90008499" modelNo="650" orderNo="15500"/>
      <item name="90008738" alias="染色体杂交BCL6" value="90008738" modelNo="650" orderNo="15500"/>
      <item name="50006569" alias="染色体杂交BCR/ABL" value="50006569" modelNo="650" orderNo="15500"/>
      <item name="90009026" alias="染色体杂交BCR/ABL/ASS1" value="90009026" modelNo="650" orderNo="15500"/>
      <item name="50006576" alias="染色体杂交CBFB" value="50006576" modelNo="650" orderNo="15500"/>
      <item name="50006583" alias="染色体杂交CCND1/IgH" value="50006583" modelNo="650" orderNo="15500"/>
      <item name="90009367" alias="染色体杂交CDKN2A/CEP9" value="90009367" modelNo="650" orderNo="15500"/>
      <item name="90008735" alias="染色体杂交CEP12" value="90008735" modelNo="650" orderNo="15500"/>
      <item name="90008495" alias="染色体杂交CEP7/D7S486" value="90008495" modelNo="650" orderNo="15500"/>
      <item name="50006573" alias="染色体杂交CEPX/Y" value="50006573" modelNo="650" orderNo="15500"/>
      <item name="90008729" alias="染色体杂交CKS1B/CDKN2C" value="90008729" modelNo="650" orderNo="15500"/>
      <item name="90009373" alias="染色体杂交CRLF2" value="90009373" modelNo="650" orderNo="15500"/>
      <item name="90009370" alias="染色体杂交D13S319/LAMP1" value="90009370" modelNo="650" orderNo="15500"/>
      <item name="90008497" alias="染色体杂交D20S108" value="90008497" modelNo="650" orderNo="15500"/>
      <item name="90008494" alias="染色体杂交D5S721/EGR1" value="90008494" modelNo="650" orderNo="15500"/>
      <item name="90008741" alias="染色体杂交EVI1(3q26)" value="90008741" modelNo="650" orderNo="15500"/>
      <item name="90008730" alias="染色体杂交FGFR1/D8Z2" value="90008730" modelNo="650" orderNo="15500"/>
      <item name="50006574" alias="染色体杂交IGH" value="50006574" modelNo="650" orderNo="15500"/>
      <item name="90009041" alias="染色体杂交IgH/BCL2" value="90009041" modelNo="650" orderNo="15500"/>
      <item name="50006582" alias="染色体杂交IgH/FGFR3" value="50006582" modelNo="650" orderNo="15500"/>
      <item name="50006581" alias="染色体杂交IgH/MAF" value="50006581" modelNo="650" orderNo="15500"/>
      <item name="90009364" alias="染色体杂交IgH/MAFB" value="90009364" modelNo="650" orderNo="15500"/>
      <item name="90009038" alias="染色体杂交IgH/MYC" value="90009038" modelNo="650" orderNo="15500"/>
      <item name="50006575" alias="染色体杂交MLL" value="50006575" modelNo="650" orderNo="15500"/>
      <item name="50006579" alias="染色体杂交MYC" value="50006579" modelNo="650" orderNo="15500"/>
      <item name="90008744" alias="染色体杂交MYC" value="90008744" modelNo="650" orderNo="15500"/>
      <item name="90009376" alias="染色体杂交P2RY8" value="90009376" modelNo="650" orderNo="15500"/>
      <item name="90009362" alias="染色体杂交P53/CEP17" value="90009362" modelNo="650" orderNo="15500"/>
      <item name="90009032" alias="染色体杂交PDGFRA" value="90009032" modelNo="650" orderNo="15500"/>
      <item name="90009035" alias="染色体杂交PDGFRB" value="90009035" modelNo="650" orderNo="15500"/>
      <item name="50006571" alias="染色体杂交PML/RARa" value="50006571" modelNo="650" orderNo="15500"/>
      <item name="90009029" alias="染色体杂交RARα" value="90009029" modelNo="650" orderNo="15500"/>
      <item name="50006578" alias="染色体杂交RB-1" value="50006578" modelNo="650" orderNo="15500"/>
      <item name="90008496" alias="染色体杂交TCF3/PBX1" value="90008496" modelNo="650" orderNo="15500"/>
      <item name="50006572" alias="染色体杂交TEL/AML1" value="50006572" modelNo="650" orderNo="15500"/>
      <item name="50006577" alias="染色体杂交San_Ti8" value="50006577" modelNo="650" orderNo="15500"/>
      <!--基因配型(用于模板及排序)-->
      <item name="90008712" alias="中性粒细胞碱性磷酸酶AL" value="90004154" modelNo="800" orderNo="15500"/>
      <!--细胞化学(用于模板及排序)-->
      <item name="90004154" alias="中性粒细胞碱性磷酸酶AL" value="90004154" modelNo="800" orderNo="15500"/>
      <item name="90004169" alias="组化三项(小组化)(含图)" value="90004169" modelNo="800" orderNo="15500"/>
      <item name="90004171" alias="免疫组织化学染色(CD41)(含图)" value="90004171" modelNo="800" orderNo="15500"/>
      <item name="90008551" alias="骨髓组织细胞化学染色三项含瑞染+像" value="90008551" modelNo="810" orderNo="15500"/>
      <item name="90008552" alias="骨髓组化染色-非特异性酯酶二项+图" value="90008552" modelNo="810" orderNo="15500"/>
      <item name="90008553" alias="骨髓组化染色-酸性磷酸酶二项+图" value="90008553" modelNo="810" orderNo="15500"/>
      <item name="50006842" alias="Α-丁酸萘脂酶 NBE" value="50006842" modelNo="810" orderNo="15500"/>
      <item name="50006846" alias="苏丹黑B染色  SB" value="50006846" modelNo="810" orderNo="15500"/>

      <!--流式处理-->
      <item name="90008344" alias="免疫分型(CD)-淋巴瘤(B-LPD)" value="90008344" modelNo="700" orderNo="15500"/>
      <item name="90008345" alias="免疫分型(CD)-急性白血病" value="90008345" modelNo="700" orderNo="15500"/>
      <item name="90008346" alias="免疫分型(CD)-淋巴瘤(T/NK)" value="90008346" modelNo="700" orderNo="15500"/>
      <item name="90008347" alias="免疫分型(CD)-淋巴瘤(MM)" value="90008347" modelNo="700" orderNo="15500"/>
      <item name="90008348" alias="免疫分型(CD)-淋巴瘤(类型待定)" value="90008348" modelNo="700" orderNo="15500"/>
      <item name="90008349" alias="免疫分型(CD系列)-MDS/MPN" value="90008349" modelNo="700" orderNo="15500"/>
      <item name="90008350" alias="白血病免疫分型(残留-B-ALL)" value="90008350" modelNo="700" orderNo="15500"/>
      <item name="90008351" alias="白血病免疫分型(残留-MM)" value="90008351" modelNo="700" orderNo="15500"/>
      <item name="90009000" alias="免疫分型-细胞类型待定" value="90009000" modelNo="700" orderNo="15500"/>
      <item name="90008957" alias="EMA流式检测" value="90008957" modelNo="710" orderNo="15500"/>
      <item name="90008356" alias="流式TCRVβ检测" value="90008356" modelNo="720" orderNo="15500"/>
      <item name="90008890" alias="白血病免疫分型(残留-其他)" value="90008890" modelNo="730" orderNo="15500"/>
      <item name="90008889" alias="白血病免疫分型(残留-APL)" value="90008889" modelNo="730" orderNo="15500"/>
      <item name="90008477" alias="白血病免疫分型(残留-AHL)" value="90008477" modelNo="730" orderNo="15500"/>
      <item name="90008359" alias="白血病免疫分型(残留-TLPD)" value="90008359" modelNo="730" orderNo="15500"/>
      <item name="90008360" alias="白血病免疫分型(残留-BLPD)" value="90008360" modelNo="730" orderNo="15500"/>
      <item name="90008361" alias="白血病免疫分型(残留-T-ALL)" value="90008361" modelNo="730" orderNo="15500"/>
      <item name="90008362" alias="白血病免疫分型(残留-AML)" value="90008362" modelNo="730" orderNo="15500"/>
      <item name="90008363" alias="流式脑脊液检测(AML)" value="90008363" modelNo="740" orderNo="15500"/>
      <item name="90008365" alias="流式脑脊液检测(B-ALL)" value="90008365" modelNo="740" orderNo="15500"/>
      <item name="90008366" alias="流式脑脊液检测(T-ALL)" value="90008366" modelNo="740" orderNo="15500"/>
      <item name="90008367" alias="流式脑脊液检测(淋巴瘤)" value="90008367" modelNo="740" orderNo="15500"/>
      <item name="90008892" alias="流式脑脊液检测(其他)" value="90008892" modelNo="740" orderNo="15500"/>
      <item name="90008468" alias="流式脑脊液检测(AHL)" value="90008468" modelNo="740" orderNo="15500"/>
      <item name="90008358" alias="PNH克隆检测" value="90008358" modelNo="750" orderNo="15500"/>
      <item name="90008354" alias="大颗粒淋巴细胞检测" value="90008354" modelNo="750" orderNo="15500"/>
      <item name="90008472" alias="调节性T细胞检测" value="90008472" modelNo="750" orderNo="15500"/>
      <item name="90009200" alias="造血干细胞计数(流式细胞仪法)" value="90009200" modelNo="750" orderNo="15500"/>
      <item name="90008469" alias="DNT细胞检测" value="90008469" modelNo="750" orderNo="15500"/>
      <item name="90008352" alias="淋巴细胞亚群" value="90008352" modelNo="760" orderNo="15500"/>
    </items>
    <models>
      <model name="lj-da" alias="临检大张" value="100" modelName="linjian-da.frx"/>
      <model name="lj-adaption" alias="临检自适应" value="101" modelName="linjian-adaption.frx"/>
      <model name="lj-xue" alias="临检血常规" value="110" modelName="linjian-xue.frx"/>
      <model name="lj-image" alias="临检有图" value="120" modelName="linjian-image.frx"/>
      <model name="sh-da" alias="生化大张" value="200" modelName="shenghua-da.frx"/>
      <model name="sh-adaption" alias="生化自适应" value="201" modelName="shenghua-adaption.frx"/>
      <model name="my-da" alias="免疫通用大张" value="300" modelName="mianyi-da.frx"/>
      <model name="my-adaption" alias="免疫通用自适应" value="301" modelName="mianyi-adaption.frx"/>
      <model name="my-sg-da" alias="免疫手工大张" value="310" modelName="mianyi-shougong-da.frx"/>
      <model name="my-sg-adaption" alias="免疫手工自适应" value="311" modelName="mianyi-shougong-adaption.frx"/>
      <model name="my-spife4000" alias="免疫电泳(有图)" value="320" modelName="mianyi-SPIFE4000.frx"/>
      <model name="my-tecan150-da" alias="免疫Tecan150大张" value="330" modelName="mianyi-TECAN150-da.frx"/>
      <model name="my-tecan150-adaption" alias="免疫Tecan150自适应" value="331" modelName="mianyi-TECAN150-adaption.frx"/>
      <model name="my-xibao-da" alias="免疫细胞培养大张" value="340" modelName="mianyi-xibao-da.frx"/>
      <model name="my-xibao-adaption" alias="免疫细胞培养自适应" value="341" modelName="mianyi-xibao-adaption.frx"/>
      <model name="zx-da" alias="出凝血大张" value="400" modelName="zhixue-da.frx"/>
      <model name="zx-adaption" alias="出凝血自适应" value="401" modelName="zhixue-adaption.frx"/>
      <model name="rx-da" alias="溶血大张" value="500" modelName="rongxue-da.frx"/>
      <model name="rx-adaption" alias="溶血自适应" value="501" modelName="rongxue-adaption.frx"/>
      <model name="yc-1" alias="染色体核型(有图)" value="600" modelName="yichuan-Ran.frx"/>
      <model name="yc-2" alias="染色体杂交(有图)" value="650" modelName="yichuan-FISH.frx"/>
      <model name="zh-image-1" alias="组化单图模板" value="800" modelName="zuhua-image-1.frx"/>
      <model name="zh-image-2" alias="组化多图模板" value="810" modelName="zuhua-image-2.frx"/>
    </models>
  </lab>
  <connectionStrings>
    <add name="ReportMSSQL" connectionString="Data Source=10.1.10.237;Initial Catalog=digitlab;Persist Security Info=True;User ID=sa;Password=idoc" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>